.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  transition-duration: 0.4s;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}
